.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  height: 65px;
  width: 99%;
  background-color: #282828;
  padding: 20px;
}

.footer-left {
  flex: 0.3;
  display: flex;
  align-items: center;
  color: white;
}

.footer-left > img {
  height: 60px;
  width: 60px;
  margin-right: 20px;
  object-fit: contain;
}

.footer-left > h4 {
  margin-bottom: 5px;
}

.footer-left > p {
  font-size: 12px;
}

.footer-center {
  flex: 0.4;
  padding: 0 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
}

.footer-icon:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2);
}

.footer-right {
  flex: 0.3;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.footer-right * .MuiSlider-root {
  color: white;
}
