.login-container {
  background-color: black;
  display: grid;
  place-items: center;
  height: 100vh;
}

.login > img {
  width: 100%;
}

.login-container > a {
  background-color: #1db954;
  padding: 20px;
  border-radius: 99px;
  font-weight: 800;
  color: white;
  text-decoration: none;
}
